@use "./partials/mixins" as*;
@use "./partials/colors" as*;
@use "./partials/typography" as*;
@use "./partials/variables" as*;

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Avenir";
    background-color: #FFFFFF;
}
.header{
    width: 100%;
    background-color: #323232;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    
    &__nav{
    text-align: center;
    }
    &__title{
    background-color: #323232;
    display: flex;
    font-weight: 700;
    justify-content: center;
    }
    &__link{
    text-decoration: none;
    color: #E1E1E1;
    display: block;
    
    @include tablet{
        height: 4rem;
        }
    @include desktop{
        height: 4rem;
        }
    
    &:active{
    color: #FFFFFF;
    border-bottom: 0.5rem solid #FFFFFF;
    font-weight: bold;
    }
    &:hover{
    color: #FFFFFF;
    transform: scale(1.5)
    }
    &-active{
    border-bottom: 0.2rem solid #FFFFFF;
    font-weight: bold;
    color: #FFFFFF;
    }
    }
    &__list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
        
    @include tablet{
        width: 40vw;
        }
    }
 
    @include tablet{
        display: flex;
        align-items: center;
        padding: 2rem;
        height: 15vh;
        padding-top: 5rem;
    }
}

.logomark__link-style{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    margin-bottom: 1rem;
}

.hero{
    &__section{
    position: relative; 
    }
    &__image{
    background: center no-repeat cover;
    width: 100%;
    position: relative;
    }

    &__title{
    font-size: 1.5rem;
    font-weight: 700 bold;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    margin: 2rem;
    margin-top: 7rem;

    @include tablet{
        font-size: 3.75rem;
    }

    @include desktop{
        font-size: 3.75rem;
    }
    }

    &__opacity {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #323232;
    opacity: 50%;
    }
}
.about{
    &__title{
    font-size: 1.5rem;
    font-weight: bold 700;
    padding: 1.5rem 0;
    width: 90%;
    margin: 0 auto;
    
    @include tablet{
        font-size: 2.25rem;
        width: 90%;
        margin: 0 auto
    }
    }
    &__image{
    width: 100%;
    }
    &__section{
    width: 90%;
    margin: 0 auto;
    @include tablet{
        width: 70%;
        margin: 0 auto;
    }
    }
}
.teddy__quote{
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.375rem;
    @include tablet{
        font-size: 1.2rem;
        margin: 3rem 0;
    }
    @include desktop{
        width: 60%;
        margin: 3rem 0;
    }
}

.bees{
    &__title-header{
    margin: 1rem 0
    }
    &__content-wrapper{
    @include tablet{
        padding-bottom: 1.5rem;
        width: 100%;
        display: flex;
        font-size: 0.813rem;
        line-height: 1.125rem;
    }
    @include tablet{
        font-size: 0.875rem;
        line-height: 1.375rem;    
    }
    }

    &__content{
    margin-bottom: 2rem;
    @include tablet{
        width: 45%;
        font-size: 1.2rem;
        line-height: 1.3rem;
        margin-right: 2rem;
        }
    @include desktop{
        width: 50%;
    }
    }
    &__content2{
    @include tablet{
        width: 45%;
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.3rem;
        }
    @include desktop{
        width: 50%;
        height: 10vh
        }
    }
}
.gallery{
    font-size: 1.5rem;
    font-weight: bold 700;
    padding: 1.5rem 0;
    background-color: #FAFAFA;
    padding-top: 1rem;

    &__header{
    @include tablet{
        width: 90%;
        margin: 0 auto;
        padding: 2rem;
    }
    }
    &__section-container{
    @include tablet{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: space-evenly;
        }
    }
    &__image{
    width: 100%;
    filter: grayscale(100%);

    &:hover{
    filter: none
    }
    @include tablet{
        margin-bottom: 1.5rem;
    }
    }
}
.image__container{
    @include tablet{
        width: 30%;
    }
}

.footer{
    background-color: #323232;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.125;
    @include tablet{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    @include tablet{
        display: flex;
        position: relative;
    }
    &__content-contact{
    @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin-top: 2rem;
    }
    }
    &__band-name{
    @include tablet{
        position: absolute;
        right: 0;
        top: 0;
        margin: 3rem;
    }
    }
    &__icon{
    margin-right: 1rem;
    }
    &__content{
    width: 90%;
    margin: 0 auto;
    }
    &__link{
        text-decoration: none;
        color: #FFFFFF;
    }
}

.contact__message, .footer__icon, .contact__adams, .contact__pearl, .contact__carson, .copyright__message{
    padding: 1rem 0;
}

.contact{
    &__container{
    @include tablet{
        display: flex;
    }
    }
    &__address{
    @include tablet{
        margin: 2rem 0;
        display: block;
    }
    }
    &__pearl{
    margin-right: -1rem;
    @include tablet{
        width: 50vw;
    }  
    }
    &__adams{
    margin-right: -1rem;
    @include tablet{
        width: 50vw;
    }  
    }
    &__carson{
    margin-right: -1rem;
    @include tablet{
        width: 50vw;
    }  
    }
}
